<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LifeShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4CB2D021BE02F250081EE79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4CB2D191BE02F400081EE79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4CB2D241BE02F410081EE79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
